# Dependencies
node_modules/

# Environment Variables
.env
.env.*

# Build outputs
build/
dist/
.next/

# Python
__pycache__/
venv/
.venv/
*.pyc

# Mac
.DS_Store

#MD Files
PROJECT_REPORT.md
ARCHITECTURE.md
AI_SERVICE_FLOW.md